
body {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    margin: 0px;
}

* {
    box-sizing: border-box; 
}

/* column widths (100%/12) */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 10px;
    border: 2px solid rgb(255, 255, 255);
    height: 100%;
}

/* clearfix */
.row {
    height: 25%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* media queries based on Bootstrap  */
@media only screen and (max-width: 576px) {
    /* copy column classes over and rename to use at this max-width */
}

@media only screen and (max-width: 768px) {
    /* copy column classes over and rename to use at this max-width */
}

@media only screen and (max-width: 992px) {
    /* copy column classes over and rename to use at this max-width */
}

@media only screen and (max-width: 1200px) {
    /* copy column classes over and rename to use at this max-width */
}
